* {
    margin: 0;
    padding: 0;
}
.container {
    font-size: 15px;
    background-image: url(image/heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'sidebar main main main'
    'sidebar card card card'
    'footer footer footer footer';
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 5px;
}
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    z-index: 999;
}
.nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .3);
    padding: 10px;
    color: aliceblue;
    text-align: center;
    font-family: Rye;
}
.logo {
    font-size: 3.5em;
    font-family: Henny Penny;
    background-color: blueviolet;
    text-align: start;
    padding: 15px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .3);
    color: aliceblue;
    text-shadow: 7px 7px black;
    font-weight: 600;
}
.nav a:hover {
    background: transparent;
    color: blueviolet;
    transition: 1s;
}
.sidebar {
    grid-area: sidebar;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: aliceblue;
}
.main {
    background-image: url(image/bakso.jpg);
    background-size: cover;
    background-position: center;
    grid-area: main;
    min-height: 200px;
    color: aliceblue;
    font-size: 2em;
    border: 2px solid white;
    
}
.card {
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    
}
.card-1 {
    background-image: url(image/burger1.jpg);
    background-size: cover;
    border: 2px solid white;
}
.card-2 {
    background-image: url(image/burger3.jpg);
    background-size: cover;
    border: 2px solid white;
}
.card-3 {
    background-image: url(image/burger4.jpg);
    background-size: cover;
    border: 2px solid white;
}