* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(image/heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.nav {
    padding: 15px;
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}
.logo {
    font-size: 4em;
    font-family: Henny Penny;
    background-color: rgb(106, 12, 194);
    text-align: center;
    padding: 15px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px rgba(0, 0, 0, .3);
    color: rgba(202, 12, 240, 0.89);
    text-shadow: 5px 5px black;
}