.container {
    background-color: red;
    font-size: 15px;
    color: aliceblue;
}
.row {
    background: blue;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.box-row {
    background-color: rgb(112, 214, 16);
    width: 70px;
    height: 70px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-reverse {
    background: black;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-row-reverse {
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}