* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    gap: 5px;
}
body {
    background-color: #ddd;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

/* header */
.header {
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2';
}
.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(image/cathero.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.hero > * {
    display: none;
}
.features {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}
.feature-1 {
    grid-area: feature-1;
    background-image: url(image/kitten_ras.jpg);
    background-size: cover;
    background-position: center;
}
.feature-2 {
    grid-area: feature-2;
    background-image: url(image/kitten_domestic.jpg);
    background-size: cover;
    background-position: center;
}
.features .price {
    font-size: 2em;
    font-weight: 200;
}

/* navigasi */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.menu .logo {
    font-size: 1.3em;
    color: #333;
}
.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.menu a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.6em;
}









/* responsive breakpoint */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .logo {
        display: none;
    }
    .hero > * {
        display: block;
        background-color: #000;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}
@media screen and (max-widht: 768) {
}
@media screen and (max-widht: 500) {
}