.container {
    background-color: moccasin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
    font-size: 19px;

}
.flex-start {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
    

}
.box-flex-start {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.flex-end {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
}
.box-flex-end {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.center {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
}
.box-center {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.space-around {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap-reverse;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
}
.box-space-around {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    justify-content: center;
    align-items: center;
    display: flex;
}
.space-between {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap-reverse;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
}
.box-space-between {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    justify-content: center;
    align-items: center;
    display: flex;
}
.stretch {
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    height: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    color: aliceblue;
}
.box-stretch {
    width: 50px;
    height: 50px;
    background-color: darkmagenta;
    justify-content: center;
    align-items: center;
    display: flex;
}
